<div class="container">
  <div class="card" *ngIf="loginCard">
    <h1>Login</h1>
    <input type="text" placeholder="you@example.de" [(ngModel)]="email">
    <input type="password" placeholder="Password" [(ngModel)]="password">
    <button class="auth-button" (click)="login()">Login</button>
    <button (click)="loginCard = false" class="changeText">Don't have an account? create one</button>
  </div>

  <div class="card" *ngIf="!loginCard">
    <h1>Sign Up</h1>
    <input type="text" placeholder="you@example.de" [(ngModel)]="email">
    <input type="password" placeholder="Password" [(ngModel)]="password">
    <button class="auth-button" (click)="register()">Sign Up</button>
    <button (click)="loginCard = true" class="changeText">Already have an account? login</button>
  </div>
</div>
