.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  width: 15vw;
  height: 100vh;
  background: #111;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.content {
  margin-left: 15vw;
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  background: #0D0D0F;
  padding: 20px;
}


.container {
  padding: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0D0D0F;
  overflow: hidden;
}

h1,h2, h3, p {
  color: #fff;
}

.card {
  padding: 20px;
  margin: 10px;
  background: #111;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}

.card:hover{
  scale: 1.02;
  border: 1px solid #222;
}

input{
  width: 40vw;
  border-radius: 15px;
  border: 1px solid #333;
  padding: 16px;
  color: #fff;
  background: #222;
  margin: 5px;
}

.auth-button{
  border: none;
  background: #4a90e2;
  padding: 16px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  width: 30vw;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.auth-button:hover{
  scale: 1.01;
}

.auth-button:active{
  scale: 0.99;
}

.changeText{
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
