.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.sidebar {
  width: 15vw;
  height: 100vh;
  background: #111;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.content {
  margin-left: 15vw;
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
  background: #0D0D0F;
  padding: 20px;
}
