.container {
  padding: 20px;
}

h1,h2, h3, p {
  color: #fff;
}

column{
  display: flex;
  flex-direction: column;
}

.grid-two{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.card {
  padding: 20px;
  margin: 10px;
  background: #111;
  display: flex;
  justify-items: center;
  flex-direction: column;
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
}

.card:hover{
  scale: 1.02;
  border: 1px solid #222;
}

.list-item {
  margin: 10px;
  background: #222;
  padding: 10px;
  border-radius: 15px;
}

#prise-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
